:root {
	--wallpaper: url();
	--background: #20292d;
	--foreground: #c4c4b5;
	--color0: #2c3539;
	--color1: #a66959;
	--color2: #769070;
	--color3: #ac8d6e;
	--color4: #607a86;
	--color5: #8a757e;
	--color6: #60867f;
	--color7: #c4c4b5;
	--color8: #343d41;
	--color9: #a66959;
	--color10: #769070;
	--color11: #ac8d6e;
	--color12: #607a86;
	--color13: #8a757e;
	--color14: #60867f;
	--color15: #c4c4b5;
}